* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ededed 5%, #bab1ba 100%) #ededed;
  background-attachment: fixed;
}

header {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

header a {
  color: white;
  margin: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  align-item: flex-start;
}

ul .box {
  width: 300px;
  height: auto;
  box-shadow: #276873 0px 10px 14px -7px;
  background: linear-gradient(#63b8ee 5%, #468ccf 100%) #63b8ee;
  border-radius: 8px;
  color: #ededed;
  font-family: Arial;
  font-weight: bold;
  padding: 13px 32px;
  text-shadow: #3d768a 0px 1px 0px;
  margin: 20px;
}

ul .box .color {
  color: #ededed;
}

ul .box ol {
  margin: 20px 0;
}

ul .box p {
  margin: 20px 0;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  text-align: center;
}

form input,
form select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 10px;
  padding: 15px;
  width: 250px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

form select {
  color: black;
}

form input[type=submit] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background: linear-gradient(#63b8ee 5%, #468ccf 100%) #63b8ee;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
}

